## Оптимизация выполнения кода, векторизация, Numba

Материалы:
* Макрушин С.В. Лекция 3: Оптимизация выполнения кода, векторизация, Numba
* IPython Cookbook, Second Edition (2018), глава 4
* https://numba.pydata.org/numba-doc/latest/user/5minguide.html

## Задачи для совместного разбора

1. Сгенерируйте массив `A` из `N=1млн` случайных целых чисел на отрезке от 0 до 1000. Пусть `B[i] = A[i] + 100`. Посчитайте среднее значение массива `B`.

In [1]:
import numpy as np
A = np.random.randint(0, 1000, size=(1000000,))
A

array([243, 586, 107, ..., 983, 813, 533])

In [2]:
def f1(A):
    acc, cnt=0,0
    for ai in A:
        acc+=(ai+100)
        cnt+=1
    return acc/cnt

In [3]:
%timeit f1(A)

563 ms ± 87.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
def f2(A):
    acc=0
    for ai in A:
        acc+=(ai+100)
    return acc/len(A)

In [5]:
%timeit f2(A)

471 ms ± 42.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
%lprun -f f2 f2(A)

In [7]:
!pip install line_profiler

Collecting line_profiler
  Downloading line_profiler-3.3.0-cp38-cp38-win_amd64.whl (52 kB)
Requirement already satisfied: IPython>=0.13; python_version >= "3.7" in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from line_profiler) (7.14.0)
Requirement already satisfied: decorator in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (4.3.3)
Requirement already satisfied: backcall in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (0.1.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (0.4.3)
Requirement already satisfied: pickleshare in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (0.17.0)
Requirement already satisfied: pygments in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (46.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from IPython>=0.13; python_version >= "3.7"->line_profiler) (3.0.5)
Requirement already satisfied: six in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from traitlets>=4.2->IPython>=0.13; python_version >= "3.7"->line_profiler) (1.14.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from traitlets>=4.2->IPython>=0.13; python_version >= "3.7"->line_profiler) (0.2.0)
Requirement already satisfied: parso>=0.7.0 in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from jedi>=0.10->IPython>=0.13; python_version >= "3.7"->line_profiler) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\admin\pycharmprojects\ml_course\venv\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython>=0.13; python_version >= "3.7"->line_profiler) (0.1.9)
Installing collected packages: line-profiler
Successfully installed line-profiler-3.3.0

WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\pycharmprojects\ml_course\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
%load_ext line_profiler

In [12]:
def f3(A):
    acc=0
    for ai in A:
        acc+=ai
    return acc/len(A)+100

In [13]:
%timeit f3(A)

533 ms ± 26.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
def f4(A):
    return A.mean()+100
%timeit f4(A)

2.52 ms ± 337 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
import numba

In [16]:
@numba.njit
def f5(A):
    acc, cnt=0,0
    for ai in A:
        acc+=(ai+100)
        cnt+=1
    return acc/cnt

In [17]:
f5(A)

599.461498

In [18]:
%timeit f5(A)

1.36 ms ± 79.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

2. Создайте таблицу 2млн строк и с 4 столбцами, заполненными случайными числами. Добавьте столбец `key`, которые содержит элементы из множества английских букв. Выберите из таблицы подмножество строк, для которых в столбце `key` указаны первые 5 английских букв.

In [19]:
import pandas as pd

df=pd.DataFrame(np.random.randint(0, 1000, size=(2000000, 4)), columns=['col1', 'col2', 'col3', 'col4'])
letters=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't','u', 'v', 'w', 'x', 'y', 'z']
df['key']= np.random.choice(letters, 2000000, replace=True)
df

         col1  col2  col3  col4 key
0         309   412   783   504   x
1         385   820   851   547   p
2         912   450   435   965   z
3         997   812   708   724   e
4         954   283   112    90   z
...       ...   ...   ...   ...  ..
1999995   308   921   146   693   m
1999996   692   480   245   687   x
1999997   995   931   795   221   u
1999998    89   865   805   970   s
1999999   701   625   638   412   g

[2000000 rows x 5 columns]

In [20]:
def g1(df):
    letters=['a', 'b', 'c', 'd', 'e']
    dfs=[]
    for letter in letters:
        my_df=df[df['key']==letter]
        dfs.append(my_df)
    return pd.concat(dfs,axis=0)

In [21]:
def g2(df):
    letters=['a', 'b', 'c', 'd', 'e']
    dfs=[]
    for letter in letters:
        my_df=df[df['key'].isin(letters)]
        dfs.append(my_df)
    return pd.concat(dfs,axis=0)

In [22]:
%timeit g1(df)

1.46 s ± 54.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [23]:
%timeit g2(df)

1.19 s ± 89.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [24]:
%time g1(df)

Wall time: 1.47 s

         col1  col2  col3  col4 key
13        145   757   493   308   a
34        326   582   889   334   a
55        120   132   973   523   a
68        809    15   541   825   a
133        38   651   581   220   a
...       ...   ...   ...   ...  ..
1999841   682   739   743   999   e
1999847   103   820   441   986   e
1999852   960   645   840   136   e
1999883   393   747   561   260   e
1999904   569   756   928   747   e

[384422 rows x 5 columns]

In [25]:
%time g2(df)

Wall time: 1.28 s

         col1  col2  col3  col4 key
3         997   812   708   724   e
7           8    53   660   873   c
9         774   613   251   524   d
13        145   757   493   308   a
20         21   421   965   680   c
...       ...   ...   ...   ...  ..
1999970   250   366   593   367   b
1999972   916   664   274   848   b
1999973   971   686    61   447   d
1999975   814   925   344   103   b
1999988   289   422   438   342   a

[1922110 rows x 5 columns]

In [26]:
%%time 
g1(df)

Wall time: 1.45 s

         col1  col2  col3  col4 key
13        145   757   493   308   a
34        326   582   889   334   a
55        120   132   973   523   a
68        809    15   541   825   a
133        38   651   581   220   a
...       ...   ...   ...   ...  ..
1999841   682   739   743   999   e
1999847   103   820   441   986   e
1999852   960   645   840   136   e
1999883   393   747   561   260   e
1999904   569   756   928   747   e

[384422 rows x 5 columns]

In [27]:
%%time 
g2(df)

Wall time: 1.03 s

         col1  col2  col3  col4 key
3         997   812   708   724   e
7           8    53   660   873   c
9         774   613   251   524   d
13        145   757   493   308   a
20         21   421   965   680   c
...       ...   ...   ...   ...  ..
1999970   250   366   593   367   b
1999972   916   664   274   848   b
1999973   971   686    61   447   d
1999975   814   925   344   103   b
1999988   289   422   438   342   a

[1922110 rows x 5 columns]

In [25]:
%lprun -f g1 g1(df)

In [26]:
%lprun -f g2 g2(df)

## Лабораторная работа 3

1. В файлах `recipes_sample.csv` и `reviews_sample.csv` (__ЛР 2__) находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами. Приведите столбцы к нужным типам.

Реализуйте несколько вариантов функции подсчета среднего значения столбца `rating` из таблицы `reviews` для отзывов, оставленных в 2010 году.

A. С использованием метода `DataFrame.iterrows` и без использования срезов таблицы

Б. С использованием метода `DataFrame.iterrows` и с использованием срезов таблицы

В. С использованием метода `DataFrame.mean`

Проверьте, что результаты работы всех написанных функций корректны и совпадают. Измерьте выполнения всех вариантов.

In [28]:
recipes = pd.read_csv('recipes_sample.csv',sep=',', index_col=1)
recipes

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
267661,zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
386977,zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
103312,zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
486161,zydeco soup,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
298512,cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [37]:
reviews = pd.read_csv('reviews_sample.csv',sep=',', index_col=0)
reviews.index.names = ['id']
reviews

,user_id,recipe_id,date,rating,review
id,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [38]:
def fun1(reviews):
    summa=0
    cnt=0
    for row in reviews.iterrows():
        if (row[1]['date'] < '2011-01-01') and (row[1]['date'] > '2009-12-31'):
            summa+=row[1]['rating']
            cnt+=1
    return summa/cnt   
fun1(reviews)

4.4544402182900615

In [39]:
%time fun1(reviews)

Wall time: 12.5 s

4.4544402182900615

In [41]:
def fun2(reviews):
    summa=0
    reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
    for row in reviews.iterrows():
        summa+=row[1]['rating']
    return summa/len(reviews)
fun2(reviews)

4.4544402182900615

In [42]:
%time fun2(reviews)

Wall time: 861 ms

4.4544402182900615

In [32]:
def fun3(reviews):
    reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
    return reviews['rating'].mean()
fun3(reviews)

4.4544402182900615

In [33]:
%time fun3(reviews)

Wall time: 29.7 ms

4.4544402182900615

In [34]:
%lprun -f fun3 fun3(reviews)

2. Какая из созданных функций выполняется медленнее? Что наиболее сильно влияет на скорость выполнения? Для ответа использовать профайлер `line_profiler`. Сохраните результаты работы профайлера в отдельную текстовую ячейку и прокомментируйте результаты его работы.

(*). Сможете ли вы ускорить работу функции 1Б, отказавшись от использования метода `iterrows`, но не используя метод `mean`?

Timer unit: 1e-07 s

Total time: 36.5302 s
File: <ipython-input-27-e4e883921176>
Function: fun1 at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def fun1(reviews):
     2         1         24.0     24.0      0.0      summa=0
     3         1         10.0     10.0      0.0      cnt=0
     4    126697  317745006.0   2507.9     87.0      for row in reviews.iterrows():
     5    126696   45259619.0    357.2     12.4          if (row[1]['date'] < '2011-01-01') and (row[1]['date'] > '2009-12-31'):
     6     12094    2184202.0    180.6      0.6              summa+=row[1]['rating']
     7     12094     113031.0      9.3      0.0              cnt+=1
     8         1         22.0     22.0      0.0      return summa/cnt

Timer unit: 1e-07 s

Total time: 3.28099 s
File: <ipython-input-24-a9c89b0ca5ac>
Function: fun2 at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def fun2(reviews):
     2         1         21.0     21.0      0.0      summa=0
     3         1     278828.0 278828.0      0.8      reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
     4     12095   29755152.0   2460.1     90.7      for row in reviews.iterrows():
     5     12094    2775766.0    229.5      8.5          summa+=row[1]['rating']
     6         1        117.0    117.0      0.0      return summa/len(reviews)

Timer unit: 1e-07 s

Total time: 0.0281633 s
File: <ipython-input-32-38224c0b9704>
Function: fun3 at line 2

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     2                                           def fun3(reviews):
     3         1     274235.0 274235.0     97.4      reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
     4         1       7398.0   7398.0      2.6      return reviews['rating'].mean()

In [36]:
def fun4(reviews):
    reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
    return reviews['rating'].sum()/len(reviews)
fun4(reviews)

4.4544402182900615

In [38]:
%time fun4(reviews)

Wall time: 26.9 ms

4.4544402182900615

In [39]:
%lprun -f fun4 fun4(reviews)

Timer unit: 1e-07 s

Total time: 0.0271604 s
File: <ipython-input-36-d1502f3a5cb9>
Function: fun4 at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def fun4(reviews):
     2         1     264553.0 264553.0     97.4      reviews = reviews.loc[(reviews['date'] < '2011-01-01') & (reviews['date'] > '2009-12-31')]
     3         1       7051.0   7051.0      2.6      return reviews['rating'].sum()/len(reviews)

3. Вам предлагается воспользоваться функцией, которая собирает информацию, сколько отзывов содержат то или иное слово. Измерьте время выполнения этой функции. Сможете ли вы найти узкие места в коде, используя профайлер? Выпишите (словами), что в имеющемся коде реализовано неоптимально. Оптимизируйте функцию и добейтесь значительного прироста в скорости выполнения.

In [41]:
def get_word_reviews_count(df):
    word_reviews = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        recipe_id, review = row['recipe_id'], row['review']
        words = review.split(' ')
        for word in words:
            if word not in word_reviews:
                word_reviews[word] = []
            word_reviews[word].append(recipe_id)
    
    word_reviews_count = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        review = row['review']
        words = review.split(' ')
        for word in words:
            word_reviews_count[word] = len(word_reviews[word])
    return word_reviews_count

In [44]:
get_word_reviews_count(reviews)

{'Last': 94,
 'week': 804,
 'whole': 5628,
 'sides': 312,
 'of': 109029,
 'frozen': 2647,
 'salmon': 729,
 'fillet': 60,
 'was': 88781,
 'on': 34583,
 'sale': 149,
 'in': 61539,
 'my': 44144,
 'local': 561,
 'supermarket,': 10,
 'so': 46090,
 'I': 285147,
 'bought': 1369,
 'tons': 161,
 '(okay,': 5,
 'only': 13965,
 '3,': 48,
 'but': 42513,
 'total': 381,
 'weight': 160,
 'over': 9065,
 '10': 2303,
 'pounds).': 2,
 '': 214145,
 'This': 39448,
 'recipe': 41098,
 'is': 55075,
 'perfect': 4398,
 'for': 121224,
 'fillet,': 14,
 'even': 7878,
 'though': 2314,
 'it': 111175,
 'calls': 520,
 'steaks.': 93,
 'cut': 6688,
 'up': 13585,
 'the': 266050,
 'into': 7031,
 'individual': 314,
 'portions': 156,
 'and': 217849,
 'followed': 4859,
 'instructions': 731,
 'exactly.': 571,
 "I'm": 7145,
 'one': 15086,
 'those': 2287,
 'food': 2413,
 'combining': 74,
 'diets,': 5,
 'left': 4690,
 'out': 23644,
 'white': 3425,
 'wine': 1256,
 'added': 21710,
 'just': 24944,
 'a': 166136,
 'dash': 532,
 'vinegar': 1272,
 'instead': 10395,
 '(just': 273,
 'little': 16319,
 'bit,': 316,
 'not': 22907,
 'enough': 4440,
 'to': 131471,
 'change': 4146,
 'taste': 8026,
 'dish).': 20,
 'Super': 840,
 'yummy,': 366,
 'leftovers': 1497,
 'lunch': 1593,
 'today': 1034,
 '(lucky': 3,
 'me)!': 5,
 'So': 4319,
 'simple': 3947,
 'tasty!': 994,
 'used': 44849,
 'yellow': 782,
 'capsicum': 45,
 'place': 2012,
 'green': 4470,
 'because': 11390,
 "that's": 1563,
 'what': 7462,
 'had': 26362,
 'hand.': 1416,
 'came': 5263,
 'together': 3268,
 'fast.': 178,
 'Perfect': 755,
 'meal': 1891,
 'if': 7326,
 'you': 24475,
 "don't": 6183,
 'have': 35190,
 'lot': 3186,
 'time.': 4010,
 'Easy,': 288,
 'healthy': 1282,
 'tasty.': 1986,
 'Thanks': 26556,
 'Stardustannie!': 4,
 'Made': 12801,
 'PAC': 1488,
 'Fall': 737,
 '2007.': 85,
 'Very': 8691,
 'nice': 8168,
 'breakfast': 1398,
 'HH,': 1,
 'easy': 17222,
 'make': 32124,
 'yummy': 2111,
 'with': 58374,
 'fresh': 7670,
 'hot': 3578,
 'coffe.': 2,
 'Instead': 860,
 'toast': 449,
 'served': 6449,
 '#97694': 1,
 'by': 6592,
 'Paula': 121,
 'G': 13,
 'that': 36984,
 'made': 38087,
 'earlier': 167,
 'turned': 6368,
 'great.': 3686,
 'will': 23985,
 'be': 25032,
 'regular': 2988,
 'our': 6879,
 'house': 1246,
 '-': 12000,
 'DH': 3796,
 'loved': 13755,
 'them.': 3663,
 'These': 8371,
 'are': 15518,
 'favorite': 2587,
 'holidays': 123,
 'children': 356,
 'We': 12585,
 'also': 14466,
 'use': 16905,
 'Rolo': 6,
 'candies': 59,
 'kisses.': 14,
 'Excellent': 1550,
 'soup!': 456,
 'The': 25720,
 'tomato': 2136,
 'flavor': 7690,
 'this': 87057,
 'freezer': 874,
 'tag': 808,
 'soup': 4437,
 'froze': 645,
 'beautifully.': 305,
 'prepared': 935,
 'as': 35493,
 'directed': 720,
 'then': 8440,
 'allowed': 225,
 'cool': 953,
 'container.': 46,
 'thawed': 211,
 'fridge': 922,
 'reheated': 222,
 'stovetop.': 38,
 'Worked': 251,
 'perfectly!': 158,
 'forgot': 1290,
 'add': 12987,
 'skim': 409,
 'milk': 3759,
 'still': 6693,
 'tasted': 4119,
 'pretty': 3499,
 'good!': 3887,
 'Dancer!': 17,
 'dinner': 3882,
 'excellent,': 186,
 'finally': 513,
 'found': 5067,
 'tuna': 488,
 'casserole': 798,
 'we': 12841,
 'enjoy,': 11,
 'thanks.': 123,
 'When': 1630,
 'snapped': 9,
 'picture,': 61,
 'review': 1142,
 'recipe.': 14337,
 'toasted': 775,
 'pecans': 624,
 'dish,': 801,
 'at': 15362,
 'party': 1243,
 'Prime': 23,
 'Rib.': 4,
 'Ten': 16,
 'stars': 2070,
 'Lennie': 29,
 '!!': 334,
 'good': 16106,
 'combination': 1801,
 'flavors': 2212,
 'reduce': 910,
 'rice': 3664,
 'cilantro': 731,
 'next': 10082,
 'time,': 2236,
 'thanks': 3197,
 'sharing': 6196,
 'hon!...Kitten': 9,
 'Oh': 1335,
 'Bergy!': 61,
 'wonderful': 5681,
 'cakes': 433,
 'awesome.': 550,
 'Fast': 83,
 'put': 8578,
 'together.': 1445,
 'get': 6753,
 'fish': 1128,
 'where': 971,
 'live': 435,
 '(yuck).': 5,
 'am': 6191,
 'tired': 147,
 'trying': 1847,
 'new': 2765,
 'recipes': 2819,
 'help': 761,
 'lack': 174,
 'quality.': 62,
 'But': 2588,
 'recipe,': 5129,
 'problem.': 194,
 'did': 17358,
 '3': 4472,
 'cloves': 897,
 'garlic,': 1029,
 'seasoned': 776,
 'bread': 5904,
 'crumbs': 801,
 'Smash': 3,
 'Seasoning(318441).': 1,
 'It': 19417,
 'has': 4861,
 'no': 5863,
 'salt!\r\nI': 1,
 'tartar': 77,
 'sauce': 11425,
 'go': 3691,
 '(56860).\r\nThank': 1,
 'great': 19166,
 'recipe!': 8487,
 'very': 25681,
 'moist': 2457,
 'cornbread,': 47,
 'two': 4466,
 'days': 723,
 'later.': 237,
 'less': 3180,
 'sugar': 6608,
 'honey,': 203,
 'farm': 56,
 'butter...and': 3,
 'corn,': 222,
 'about': 12811,
 '2': 8237,
 'ears.': 5,
 'Served': 1974,
 'ribs': 1203,
 'grill,': 124,
 "I've": 5561,
 'been': 5786,
 'making': 11030,
 'past': 418,
 'several': 1714,
 'years.': 460,
 "It's": 2848,
 'always': 4167,
 'extremely': 598,
 'easy!': 923,
 'posting!': 2469,
 'generic': 30,
 'sweetened': 239,
 'condensed': 231,
 'works': 748,
 'well,': 782,
 'tastes': 2271,
 'costs': 17,
 '(I': 2369,
 'usually': 1911,
 'Wal-Mart': 3,
 'brand).': 9,
 'Exceptional': 7,
 'delicious': 5729,
 'make.': 3027,
 'really': 19400,
 'liked': 5537,
 'weekday': 69,
 'leftover': 1716,
 'rice.': 1105,
 'looking': 3050,
 'different': 3537,
 'ways': 353,
 'ground': 2468,
 'beef.': 346,
 'love': 9526,
 'sandwich!!': 10,
 'alot': 435,
 'sooo': 594,
 'Lite': 22,
 'brown': 3475,
 'mustard': 1082,
 'horse': 4,
 'relish': 159,
 'some': 20753,
 'olives': 582,
 "on's.": 1,
 'Next': 3485,
 'time': 17502,
 'balsamic': 482,
 'dressing...it': 2,
 'mind.': 76,
 ':)': 5164,
 'cbreezie': 1,
 'make,': 1286,
 'affordable': 26,
 'addicting.': 29,
 'Our': 363,
 'household': 66,
 'it.': 11935,
 'Blessings': 7,
 'chef': 292,
 'sharing.': 2159,
 'never': 4979,
 'apple': 1442,
 'orange': 1633,
 'juice': 2765,
 'makes': 3300,
 'all': 15499,
 'difference': 673,
 'texture': 2318,
 'bread.': 1207,
 'wonderful!!\r\nThank': 2,
 'You': 2286,
 'were': 20716,
 'delicious!': 3344,
 'grated': 943,
 'bit': 9946,
 'cheddar': 1380,
 'cheese': 8218,
 'top': 4343,
 '5': 4283,
 'minutes': 5013,
 'before': 6918,
 'they': 16863,
 'done,': 239,
 'seasoning': 2026,
 'perfect.': 2023,
 'best': 4551,
 'pizza': 955,
 'dough': 2740,
 'made!': 190,
 'Other': 574,
 'tried': 4438,
 'machine': 480,
 'way': 6708,
 'too': 10530,
 'sticky.': 81,
 'Leaving': 11,
 'msg': 19,
 'fine.': 946,
 'divide': 60,
 'half,': 411,
 'knead': 90,
 'floured': 83,
 'surface': 69,
 'few': 4897,
 'times,': 290,
 'stretch': 74,
 'cirle.': 1,
 'like': 20171,
 'bake': 1806,
 'cast-iron': 19,
 'skillet-': 1,
 'brush': 161,
 'pan': 3626,
 'olive': 2058,
 'oil': 3790,
 'sprinkle': 635,
 'corn': 2175,
 'meal.': 1607,
 'crust': 1662,
 '7': 705,
 '10-15': 75,
 'lowest': 28,
 'rack': 265,
 'oven.': 1053,
 'saw': 745,
 'Giada': 8,
 'Today': 106,
 'show': 174,
 'last': 4502,
 'month': 270,
 'wanted': 2687,
 'compare': 104,
 'family': 7201,
 'being': 1855,
 'Marsala': 25,
 'dry': 2150,
 'red,': 78,
 'chicken/turkey': 3,
 'sausage,': 225,
 'cutting': 557,
 'sausages': 113,
 'finishing': 127,
 'cooking': 4203,
 'stove': 565,
 'My': 14347,
 'traditionally': 25,
 'serves': 152,
 'sausage': 1116,
 'peppers': 1410,
 'polenta...this': 1,
 'compared': 122,
 'well': 5166,
 'probably': 2651,
 'calories': 377,
 'heats': 11,
 'kitchen': 520,
 'summertime!': 2,
 'meatloaf,': 47,
 'took': 3830,
 'reviewers': 587,
 'suggestion': 524,
 'another': 4777,
 'crock': 1034,
 'pot': 1977,
 'meatloaf': 395,
 '(#99616)': 1,
 'it,': 3813,
 'sauce,': 1640,
 'meatloaf.': 109,
 'sweet': 4938,
 'tangy': 290,
 'wonder': 263,
 'addition.': 273,
 'again.': 7348,
 'deliciously': 87,
 'simple.': 292,
 'can': 9513,
 'literally': 148,
 'thrown': 103,
 'soups': 203,
 'i': 7770,
 'ever': 3856,
 'had.': 886,
 'uncomplicated': 6,
 'taste.': 2042,
 ',': 715,
 'from': 12802,
 'appealed': 20,
 'me': 7274,
 'simplicity': 162,
 'quick': 4068,
 'could': 6285,
 'made.': 705,
 'both': 2697,
 'flavor.': 3912,
 'anything': 1423,
 'see': 2244,
 'can;': 1,
 'more': 16840,
 'substance': 14,
 'nothing': 718,
 '(thankfully)': 3,
 'rustic': 43,
 'roasted': 1256,
 'balance': 423,
 'other': 7016,
 'ingredients.': 1084,
 'paul': 2,
 'newman': 1,
 'marinara': 109,
 '1/3': 778,
 'cup': 7164,
 'let': 2910,
 'simmer': 398,
 'out.': 1223,
 'would': 16597,
 'definitly': 60,
 'much': 12363,
 'plus': 779,
 'tea!': 45,
 'aroma': 300,
 'tea': 535,
 'steeping': 10,
 'five': 663,
 'minutes,': 843,
 'wonderful!': 1109,
 'large': 2093,
 'glass': 571,
 'ice': 1500,
 'enjoyed!': 69,
 'Good': 1325,
 'marinade.': 218,
 'Jack': 169,
 'Daniels': 23,
 'exactly': 3583,
 'except': 2033,
 "didn't": 14046,
 'marinate': 353,
 'quite': 3819,
 'long.': 221,
 'hours.': 867,
 'grilled': 1248,
 'counter': 137,
 'grill': 812,
 'everyone': 2528,
 'enjoyed': 6746,
 'Even': 1366,
 'DH,': 122,
 'who': 3066,
 "doesn't": 1810,
 'beef': 2513,
 'dressed': 64,
 'up,': 513,
 'said': 3122,
 'Almost': 108,
 'teriyaki': 96,
 'baked': 4137,
 'potato': 1754,
 'asparagus.': 143,
 'posting.': 2221,
 'Fantastic': 361,
 'earning': 2,
 'raves': 111,
 'table.': 201,
 'Thanks,': 1331,
 'homegirl!': 5,
 'comforting.': 50,
 'low-sodium,': 1,
 'low-fat': 296,
 'chicken': 11332,
 'stock.': 166,
 'butter.': 945,
 'dried': 2248,
 'parsley.': 200,
 'do': 6861,
 'than': 10333,
 'an': 10553,
 'hour,': 174,
 'Me': 65,
 'course.': 92,
 'Breezermom': 3,
 'Market': 162,
 'game': 469,
 'Easy': 1911,
 'good.': 7001,
 'Will': 3432,
 'again': 7921,
 'kids': 3123,
 'weekend,': 54,
 'your': 6415,
 'cookies': 1935,
 'already': 1564,
 '(your': 4,
 'Triple': 17,
 'Chocolates).': 1,
 "We're": 115,
 'addicted': 63,
 'jam': 430,
 '--': 1634,
 "it's": 4846,
 'tend': 205,
 'vinegar-phobic': 1,
 'half;': 9,
 'adore': 101,
 'black': 1609,
 'pepper,': 929,
 'increase': 507,
 'half.': 567,
 'Also,': 1561,
 'once': 1547,
 'strawberries': 539,
 'cook': 4212,
 'down,': 140,
 'masher': 37,
 'break': 188,
 'them': 19689,
 'consistency.': 287,
 'pepper': 4401,
 'kick': 525,
 'fun,': 59,
 'English': 151,
 'muffins,': 161,
 'peanut': 1356,
 'butter': 5572,
 '&': 9664,
 'jelly': 298,
 'sandwiches': 473,
 '(made': 53,
 'wheat': 1778,
 'bread.)': 3,
 'wish': 831,
 'canning': 142,
 'store': 1248,
 'shelf': 48,
 'it!': 4313,
 'started': 876,
 'yesterday': 436,
 'keep': 2162,
 'up.': 1429,
 'back': 3474,
 'coffee': 976,
 'figured': 251,
 'might': 2834,
 'along': 1572,
 'benefits.': 12,
 'OK,': 118,
 'NEVER': 136,
 'buy': 1174,
 'jarred': 130,
 'terrific!': 129,
 'early': 259,
 'day,': 352,
 'later!': 31,
 'pizza,': 66,
 'freezer.': 284,
 'cant': 183,
 'wait.': 63,
 'hint': 419,
 'spice': 1363,
 'red': 4424,
 'omitted': 1607,
 'flakes': 754,
 'small': 3035,
 'delicious.': 3734,
 'again,': 2053,
 'tenderness': 27,
 'rub': 356,
 'right.': 542,
 'cold,': 101,
 'yogurt': 961,
 'whipped': 834,
 'in,': 275,
 'or': 12020,
 'top.': 1375,
 'cumin,': 184,
 'curry,': 57,
 'cinnamon': 2082,
 'try': 8937,
 'Chinese': 203,
 '5.': 153,
 "can't": 3022,
 'resist': 98,
 'splash': 304,
 'too!': 1288,
 '"bake"': 5,
 'squash': 549,
 'microwave': 830,
 '8': 1712,
 'minute': 545,
 'blasts': 1,
 'peel': 343,
 'when': 9491,
 'cool,': 89,
 'freeze': 792,
 'flesh.': 7,
 'Carrots': 32,
 'eaten': 749,
 'right': 3563,
 'highly': 529,
 'recommend': 1542,
 'these': 14418,
 'delicious,': 1064,
 'yet': 1087,
 'treats!': 27,
 'plastic': 293,
 'popsicle': 9,
 'molds': 10,
 'store.': 239,
 'halved': 1284,
 '16': 340,
 'popsicles.': 5,
 'They': 5927,
 'adults': 195,
 'gone': 759,
 'crazy': 379,
 'eating': 2032,
 'And': 2587,
 'since': 4612,
 "they're": 440,
 'them!': 817,
 'Barb': 33,
 'become': 734,
 'favorite!': 215,
 'good,': 3031,
 'modifications': 131,
 '(and': 1001,
 'laziness).': 1,
 'semi': 81,
 'breasts,': 185,
 'browned': 670,
 'them,': 1125,
 'stock': 853,
 'rest': 1884,
 'through': 1258,
 'simmer.': 28,
 'omit': 595,
 'avoid': 195,
 'sugary-ness': 1,
 'commented': 144,
 'PERFECT.': 35,
 'As': 1547,
 'couscous': 179,
 'anything,': 94,
 'cold': 1240,
 'broth': 1953,
 'soak': 317,
 'wait': 2103,
 'breasts': 981,
 'cook.': 325,
 'margarine': 312,
 'garlic-buttery': 1,
 'certainly': 920,
 'disappoint).': 1,
 '#289161.': 1,
 'Miraklegirl!': 4,
 'fantastic!': 779,
 'soft': 1275,
 'chewy': 397,
 'loveddd': 1,
 'friends.': 197,
 'chopped': 3127,
 'mars': 2,
 'bar': 219,
 'chocolate': 4609,
 'chips': 1692,
 'worked': 3075,
 'charm': 25,
 'definitely': 6267,
 'THANKS': 93,
 'Christmas': 1344,
 'party!': 71,
 'Thank': 9735,
 'treat!': 343,
 'dressing': 2160,
 'lot.': 369,
 'sesame': 650,
 'seeds': 805,
 'lamb': 384,
 'marinaded': 64,
 'spices.': 376,
 'posting': 4351,
 'simply': 738,
 'WONDERFUL!': 102,
 'any': 6231,
 'salt,': 1020,
 'substitution': 119,
 "necessity..didn't": 1,
 'hash': 168,
 'browns,': 19,
 'potatoes.': 996,
 'About': 72,
 'half': 7891,
 'peeked': 5,
 'browning': 302,
 'bottom': 1067,
 'potatoes': 3793,
 "weren't": 511,
 'cooking.': 721,
 'needed': 2633,
 'water.': 897,
 'DUH!': 1,
 'remember': 574,
 'how': 5263,
 'added,': 81,
 "I'll": 5414,
 'redo': 7,
 'browns': 104,
 'die': 409,
 'for....': 2,
 'truly!': 1,
 'good..': 25,
 'it..': 61,
 'give': 3294,
 '3.5': 93,
 'stars.': 688,
 'okay': 242,
 'again.<br/><br/>I': 2,
 'drumsticks': 59,
 'wings': 425,
 'grocery': 438,
 'low': 2407,
 'sodium': 453,
 'soy': 1154,
 'sauce.': 3014,
 'forget': 241,
 'marinade': 1074,
 'chicken.': 1191,
 'know': 3493,
 'affected': 64,
 'thicker.': 86,
 'barbecue': 199,
 'move': 69,
 'fluid.': 6,
 'thicken': 702,
 'starch': 190,
 'flour.': 770,
 'stated': 531,
 ':-)': 651,
 'breakfast!': 170,
 'mom': 793,
 'Northern': 39,
 'Ireland': 14,
 'introduced': 38,
 'Marmite': 9,
 'age': 38,
 'rye': 150,
 'marmite': 8,
 'dip': 1014,
 'eggs.': 408,
 'you!': 1483,
 "Paula's": 14,
 'Peach': 20,
 'Dump': 9,
 'Cake': 198,
 '#125391': 1,
 '(only': 110,
 '4)': 28,
 'forward': 785,
 'her': 1377,
 'call': 572,
 'future.': 285,
 'hand': 1526,
 'dessert': 1009,
 "'fix'": 2,
 'table': 454,
 'short': 442,
 'notice.': 16,
 'Wow!': 684,
 'What': 2588,
 'amazing': 894,
 'stuff!': 202,
 'Hokey': 4,
 'Pokey': 5,
 'ice-cream,': 6,
 'this.\nI': 3,
 'shocked': 59,
 'complete': 234,
 'colour': 105,
 'after': 5685,
 'stirring': 211,
 'baking': 3090,
 'soda': 304,
 'through.': 295,
 'quick.\nI': 1,
 'burned': 183,
 'ours': 252,
 'difficult': 371,
 'spread': 1079,
 'flat': 296,
 'pan,': 648,
 'first': 6060,
 'go.\nNext': 1,
 "what's": 98,
 'come!': 37,
 'manual': 7,
 'method': 625,
 'directions': 1514,
 'follow': 830,
 'produced': 149,
 'results.': 577,
 'light': 2557,
 "za'atar": 11,
 'topping.': 466,
 'keeper!': 1322,
 'Best': 634,
 '2011': 181,
 'event,': 33,
 'recommended': 325,
 'awalde': 7,
 'sorry.': 81,
 "wasn't": 2828,
 'stretch.': 6,
 'There': 1134,
 'something': 3789,
 'missing': 501,
 'turn': 1174,
 'amazing.': 614,
 'turmeric': 68,
 'strange': 126,
 'color': 571,
 'unappealing.': 7,
 'smelled': 705,
 'carne': 7,
 'asada': 5,
 'maybe': 2146,
 'expecting.': 53,
 'cooked': 6317,
 'delightful': 259,
 'while': 3129,
 'grilling': 225,
 'meet': 53,
 'expectations': 42,
 'served.': 66,
 'watching': 228,
 'think': 10740,
 'tweak': 194,
 'sure': 5334,
 'is.': 636,
 'Did': 453,
 'Bergy!!': 10,
 'microwaved': 176,
 'spuds,': 5,
 'onions,': 735,
 'later': 496,
 'night.': 694,
 'onion': 3951,
 'each': 2204,
 'their': 1558,
 'flavours': 430,
 'come': 1545,
 'distinctly.\r\nGood': 1,
 'veggie': 655,
 'dish.': 2670,
 'Lovely!': 31,
 'beautiful': 760,
 'Thanksgiving': 638,
 'morning.': 386,
 'With': 666,
 'link': 42,
 'sliced': 2056,
 'fruit': 1048,
 'enjoy': 1321,
 'visiting': 112,
 'grands': 5,
 'breakfast.': 477,
 'Kittencal.': 81,
 'teach': 25,
 'high': 1257,
 'school': 333,
 'foods': 180,
 'class': 97,
 'studying': 8,
 'legumes.': 2,
 'topping': 1361,
 'sour': 2563,
 'cream,': 790,
 'cheese,': 1367,
 'Tobasco': 19,
 'tortilla': 507,
 'chips.': 630,
 'While': 418,
 'making,': 33,
 'students': 37,
 'look': 1527,
 'Not': 1846,
 'single': 364,
 'student': 38,
 '25': 458,
 'disliked': 19,
 'students.': 8,
 'starting': 247,
 'hour': 1180,
 'period': 41,
 'reheating': 45,
 'day.': 1214,
 'Many': 181,
 'requested': 363,
 'second': 1653,
 'copy': 147,
 'take': 2301,
 'home!': 96,
 'Great': 5595,
 'job!': 33,
 'definately': 1072,
 'lemon': 3806,
 'zest': 575,
 'devine': 17,
 'reheat': 135,
 'oven': 3332,
 ...}

In [45]:
%lprun -f get_word_reviews_count get_word_reviews_count(reviews)

Timer unit: 1e-07 s

Total time: 93.3223 s
File: <ipython-input-41-b1bc049bcd0c>
Function: get_word_reviews_count at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def get_word_reviews_count(df):
     2         1         24.0     24.0      0.0      word_reviews = {}
     3    126680  280800666.0   2216.6     30.1      for _, row in df.dropna(subset=['review']).iterrows():
     4    126679   43450546.0    343.0      4.7          recipe_id, review = row['recipe_id'], row['review']
     5    126679    7847594.0     61.9      0.8          words = review.split(' ')
     6   6918689   33938109.0      4.9      3.6          for word in words:
     7   6792010   52658656.0      7.8      5.6              if word not in word_reviews:
     8    174944    1611212.0      9.2      0.2                  word_reviews[word] = []
     9   6792010   64403233.0      9.5      6.9              word_reviews[word].append(recipe_id)
    10                                               
    11         1         37.0     37.0      0.0      word_reviews_count = {}
    12    126680  284782428.0   2248.0     30.5      for _, row in df.dropna(subset=['review']).iterrows():
    13    126679   26051011.0    205.6      2.8          review = row['review']
    14    126679    8183556.0     64.6      0.9          words = review.split(' ')
    15   6918689   36943599.0      5.3      4.0          for word in words:
    16   6792010   92551824.0     13.6      9.9              word_reviews_count[word] = len(word_reviews[word])
    17         1         36.0     36.0      0.0      return word_reviews_count

In [83]:
def get_word_reviews_count(df):
    word_reviews_count = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        review = row['review']
        words = review.split(' ')
        for word in words:
            if word not in word_reviews_count:
                word_reviews_count[word] = 0
            word_reviews_count[word]+=1
            
    return word_reviews_count

In [84]:
get_word_reviews_count(reviews)

{'Last': 94,
 'week': 804,
 'whole': 5628,
 'sides': 312,
 'of': 109029,
 'frozen': 2647,
 'salmon': 729,
 'fillet': 60,
 'was': 88781,
 'on': 34583,
 'sale': 149,
 'in': 61539,
 'my': 44144,
 'local': 561,
 'supermarket,': 10,
 'so': 46090,
 'I': 285147,
 'bought': 1369,
 'tons': 161,
 '(okay,': 5,
 'only': 13965,
 '3,': 48,
 'but': 42513,
 'total': 381,
 'weight': 160,
 'over': 9065,
 '10': 2303,
 'pounds).': 2,
 '': 214145,
 'This': 39448,
 'recipe': 41098,
 'is': 55075,
 'perfect': 4398,
 'for': 121224,
 'fillet,': 14,
 'even': 7878,
 'though': 2314,
 'it': 111175,
 'calls': 520,
 'steaks.': 93,
 'cut': 6688,
 'up': 13585,
 'the': 266050,
 'into': 7031,
 'individual': 314,
 'portions': 156,
 'and': 217849,
 'followed': 4859,
 'instructions': 731,
 'exactly.': 571,
 "I'm": 7145,
 'one': 15086,
 'those': 2287,
 'food': 2413,
 'combining': 74,
 'diets,': 5,
 'left': 4690,
 'out': 23644,
 'white': 3425,
 'wine': 1256,
 'added': 21710,
 'just': 24944,
 'a': 166136,
 'dash': 532,
 'vinegar': 1272,
 'instead': 10395,
 '(just': 273,
 'little': 16319,
 'bit,': 316,
 'not': 22907,
 'enough': 4440,
 'to': 131471,
 'change': 4146,
 'taste': 8026,
 'dish).': 20,
 'Super': 840,
 'yummy,': 366,
 'leftovers': 1497,
 'lunch': 1593,
 'today': 1034,
 '(lucky': 3,
 'me)!': 5,
 'So': 4319,
 'simple': 3947,
 'tasty!': 994,
 'used': 44849,
 'yellow': 782,
 'capsicum': 45,
 'place': 2012,
 'green': 4470,
 'because': 11390,
 "that's": 1563,
 'what': 7462,
 'had': 26362,
 'hand.': 1416,
 'came': 5263,
 'together': 3268,
 'fast.': 178,
 'Perfect': 755,
 'meal': 1891,
 'if': 7326,
 'you': 24475,
 "don't": 6183,
 'have': 35190,
 'lot': 3186,
 'time.': 4010,
 'Easy,': 288,
 'healthy': 1282,
 'tasty.': 1986,
 'Thanks': 26556,
 'Stardustannie!': 4,
 'Made': 12801,
 'PAC': 1488,
 'Fall': 737,
 '2007.': 85,
 'Very': 8691,
 'nice': 8168,
 'breakfast': 1398,
 'HH,': 1,
 'easy': 17222,
 'make': 32124,
 'yummy': 2111,
 'with': 58374,
 'fresh': 7670,
 'hot': 3578,
 'coffe.': 2,
 'Instead': 860,
 'toast': 449,
 'served': 6449,
 '#97694': 1,
 'by': 6592,
 'Paula': 121,
 'G': 13,
 'that': 36984,
 'made': 38087,
 'earlier': 167,
 'turned': 6368,
 'great.': 3686,
 'will': 23985,
 'be': 25032,
 'regular': 2988,
 'our': 6879,
 'house': 1246,
 '-': 12000,
 'DH': 3796,
 'loved': 13755,
 'them.': 3663,
 'These': 8371,
 'are': 15518,
 'favorite': 2587,
 'holidays': 123,
 'children': 356,
 'We': 12585,
 'also': 14466,
 'use': 16905,
 'Rolo': 6,
 'candies': 59,
 'kisses.': 14,
 'Excellent': 1550,
 'soup!': 456,
 'The': 25720,
 'tomato': 2136,
 'flavor': 7690,
 'this': 87057,
 'freezer': 874,
 'tag': 808,
 'soup': 4437,
 'froze': 645,
 'beautifully.': 305,
 'prepared': 935,
 'as': 35493,
 'directed': 720,
 'then': 8440,
 'allowed': 225,
 'cool': 953,
 'container.': 46,
 'thawed': 211,
 'fridge': 922,
 'reheated': 222,
 'stovetop.': 38,
 'Worked': 251,
 'perfectly!': 158,
 'forgot': 1290,
 'add': 12987,
 'skim': 409,
 'milk': 3759,
 'still': 6693,
 'tasted': 4119,
 'pretty': 3499,
 'good!': 3887,
 'Dancer!': 17,
 'dinner': 3882,
 'excellent,': 186,
 'finally': 513,
 'found': 5067,
 'tuna': 488,
 'casserole': 798,
 'we': 12841,
 'enjoy,': 11,
 'thanks.': 123,
 'When': 1630,
 'snapped': 9,
 'picture,': 61,
 'review': 1142,
 'recipe.': 14337,
 'toasted': 775,
 'pecans': 624,
 'dish,': 801,
 'at': 15362,
 'party': 1243,
 'Prime': 23,
 'Rib.': 4,
 'Ten': 16,
 'stars': 2070,
 'Lennie': 29,
 '!!': 334,
 'good': 16106,
 'combination': 1801,
 'flavors': 2212,
 'reduce': 910,
 'rice': 3664,
 'cilantro': 731,
 'next': 10082,
 'time,': 2236,
 'thanks': 3197,
 'sharing': 6196,
 'hon!...Kitten': 9,
 'Oh': 1335,
 'Bergy!': 61,
 'wonderful': 5681,
 'cakes': 433,
 'awesome.': 550,
 'Fast': 83,
 'put': 8578,
 'together.': 1445,
 'get': 6753,
 'fish': 1128,
 'where': 971,
 'live': 435,
 '(yuck).': 5,
 'am': 6191,
 'tired': 147,
 'trying': 1847,
 'new': 2765,
 'recipes': 2819,
 'help': 761,
 'lack': 174,
 'quality.': 62,
 'But': 2588,
 'recipe,': 5129,
 'problem.': 194,
 'did': 17358,
 '3': 4472,
 'cloves': 897,
 'garlic,': 1029,
 'seasoned': 776,
 'bread': 5904,
 'crumbs': 801,
 'Smash': 3,
 'Seasoning(318441).': 1,
 'It': 19417,
 'has': 4861,
 'no': 5863,
 'salt!\r\nI': 1,
 'tartar': 77,
 'sauce': 11425,
 'go': 3691,
 '(56860).\r\nThank': 1,
 'great': 19166,
 'recipe!': 8487,
 'very': 25681,
 'moist': 2457,
 'cornbread,': 47,
 'two': 4466,
 'days': 723,
 'later.': 237,
 'less': 3180,
 'sugar': 6608,
 'honey,': 203,
 'farm': 56,
 'butter...and': 3,
 'corn,': 222,
 'about': 12811,
 '2': 8237,
 'ears.': 5,
 'Served': 1974,
 'ribs': 1203,
 'grill,': 124,
 "I've": 5561,
 'been': 5786,
 'making': 11030,
 'past': 418,
 'several': 1714,
 'years.': 460,
 "It's": 2848,
 'always': 4167,
 'extremely': 598,
 'easy!': 923,
 'posting!': 2469,
 'generic': 30,
 'sweetened': 239,
 'condensed': 231,
 'works': 748,
 'well,': 782,
 'tastes': 2271,
 'costs': 17,
 '(I': 2369,
 'usually': 1911,
 'Wal-Mart': 3,
 'brand).': 9,
 'Exceptional': 7,
 'delicious': 5729,
 'make.': 3027,
 'really': 19400,
 'liked': 5537,
 'weekday': 69,
 'leftover': 1716,
 'rice.': 1105,
 'looking': 3050,
 'different': 3537,
 'ways': 353,
 'ground': 2468,
 'beef.': 346,
 'love': 9526,
 'sandwich!!': 10,
 'alot': 435,
 'sooo': 594,
 'Lite': 22,
 'brown': 3475,
 'mustard': 1082,
 'horse': 4,
 'relish': 159,
 'some': 20753,
 'olives': 582,
 "on's.": 1,
 'Next': 3485,
 'time': 17502,
 'balsamic': 482,
 'dressing...it': 2,
 'mind.': 76,
 ':)': 5164,
 'cbreezie': 1,
 'make,': 1286,
 'affordable': 26,
 'addicting.': 29,
 'Our': 363,
 'household': 66,
 'it.': 11935,
 'Blessings': 7,
 'chef': 292,
 'sharing.': 2159,
 'never': 4979,
 'apple': 1442,
 'orange': 1633,
 'juice': 2765,
 'makes': 3300,
 'all': 15499,
 'difference': 673,
 'texture': 2318,
 'bread.': 1207,
 'wonderful!!\r\nThank': 2,
 'You': 2286,
 'were': 20716,
 'delicious!': 3344,
 'grated': 943,
 'bit': 9946,
 'cheddar': 1380,
 'cheese': 8218,
 'top': 4343,
 '5': 4283,
 'minutes': 5013,
 'before': 6918,
 'they': 16863,
 'done,': 239,
 'seasoning': 2026,
 'perfect.': 2023,
 'best': 4551,
 'pizza': 955,
 'dough': 2740,
 'made!': 190,
 'Other': 574,
 'tried': 4438,
 'machine': 480,
 'way': 6708,
 'too': 10530,
 'sticky.': 81,
 'Leaving': 11,
 'msg': 19,
 'fine.': 946,
 'divide': 60,
 'half,': 411,
 'knead': 90,
 'floured': 83,
 'surface': 69,
 'few': 4897,
 'times,': 290,
 'stretch': 74,
 'cirle.': 1,
 'like': 20171,
 'bake': 1806,
 'cast-iron': 19,
 'skillet-': 1,
 'brush': 161,
 'pan': 3626,
 'olive': 2058,
 'oil': 3790,
 'sprinkle': 635,
 'corn': 2175,
 'meal.': 1607,
 'crust': 1662,
 '7': 705,
 '10-15': 75,
 'lowest': 28,
 'rack': 265,
 'oven.': 1053,
 'saw': 745,
 'Giada': 8,
 'Today': 106,
 'show': 174,
 'last': 4502,
 'month': 270,
 'wanted': 2687,
 'compare': 104,
 'family': 7201,
 'being': 1855,
 'Marsala': 25,
 'dry': 2150,
 'red,': 78,
 'chicken/turkey': 3,
 'sausage,': 225,
 'cutting': 557,
 'sausages': 113,
 'finishing': 127,
 'cooking': 4203,
 'stove': 565,
 'My': 14347,
 'traditionally': 25,
 'serves': 152,
 'sausage': 1116,
 'peppers': 1410,
 'polenta...this': 1,
 'compared': 122,
 'well': 5166,
 'probably': 2651,
 'calories': 377,
 'heats': 11,
 'kitchen': 520,
 'summertime!': 2,
 'meatloaf,': 47,
 'took': 3830,
 'reviewers': 587,
 'suggestion': 524,
 'another': 4777,
 'crock': 1034,
 'pot': 1977,
 'meatloaf': 395,
 '(#99616)': 1,
 'it,': 3813,
 'sauce,': 1640,
 'meatloaf.': 109,
 'sweet': 4938,
 'tangy': 290,
 'wonder': 263,
 'addition.': 273,
 'again.': 7348,
 'deliciously': 87,
 'simple.': 292,
 'can': 9513,
 'literally': 148,
 'thrown': 103,
 'soups': 203,
 'i': 7770,
 'ever': 3856,
 'had.': 886,
 'uncomplicated': 6,
 'taste.': 2042,
 ',': 715,
 'from': 12802,
 'appealed': 20,
 'me': 7274,
 'simplicity': 162,
 'quick': 4068,
 'could': 6285,
 'made.': 705,
 'both': 2697,
 'flavor.': 3912,
 'anything': 1423,
 'see': 2244,
 'can;': 1,
 'more': 16840,
 'substance': 14,
 'nothing': 718,
 '(thankfully)': 3,
 'rustic': 43,
 'roasted': 1256,
 'balance': 423,
 'other': 7016,
 'ingredients.': 1084,
 'paul': 2,
 'newman': 1,
 'marinara': 109,
 '1/3': 778,
 'cup': 7164,
 'let': 2910,
 'simmer': 398,
 'out.': 1223,
 'would': 16597,
 'definitly': 60,
 'much': 12363,
 'plus': 779,
 'tea!': 45,
 'aroma': 300,
 'tea': 535,
 'steeping': 10,
 'five': 663,
 'minutes,': 843,
 'wonderful!': 1109,
 'large': 2093,
 'glass': 571,
 'ice': 1500,
 'enjoyed!': 69,
 'Good': 1325,
 'marinade.': 218,
 'Jack': 169,
 'Daniels': 23,
 'exactly': 3583,
 'except': 2033,
 "didn't": 14046,
 'marinate': 353,
 'quite': 3819,
 'long.': 221,
 'hours.': 867,
 'grilled': 1248,
 'counter': 137,
 'grill': 812,
 'everyone': 2528,
 'enjoyed': 6746,
 'Even': 1366,
 'DH,': 122,
 'who': 3066,
 "doesn't": 1810,
 'beef': 2513,
 'dressed': 64,
 'up,': 513,
 'said': 3122,
 'Almost': 108,
 'teriyaki': 96,
 'baked': 4137,
 'potato': 1754,
 'asparagus.': 143,
 'posting.': 2221,
 'Fantastic': 361,
 'earning': 2,
 'raves': 111,
 'table.': 201,
 'Thanks,': 1331,
 'homegirl!': 5,
 'comforting.': 50,
 'low-sodium,': 1,
 'low-fat': 296,
 'chicken': 11332,
 'stock.': 166,
 'butter.': 945,
 'dried': 2248,
 'parsley.': 200,
 'do': 6861,
 'than': 10333,
 'an': 10553,
 'hour,': 174,
 'Me': 65,
 'course.': 92,
 'Breezermom': 3,
 'Market': 162,
 'game': 469,
 'Easy': 1911,
 'good.': 7001,
 'Will': 3432,
 'again': 7921,
 'kids': 3123,
 'weekend,': 54,
 'your': 6415,
 'cookies': 1935,
 'already': 1564,
 '(your': 4,
 'Triple': 17,
 'Chocolates).': 1,
 "We're": 115,
 'addicted': 63,
 'jam': 430,
 '--': 1634,
 "it's": 4846,
 'tend': 205,
 'vinegar-phobic': 1,
 'half;': 9,
 'adore': 101,
 'black': 1609,
 'pepper,': 929,
 'increase': 507,
 'half.': 567,
 'Also,': 1561,
 'once': 1547,
 'strawberries': 539,
 'cook': 4212,
 'down,': 140,
 'masher': 37,
 'break': 188,
 'them': 19689,
 'consistency.': 287,
 'pepper': 4401,
 'kick': 525,
 'fun,': 59,
 'English': 151,
 'muffins,': 161,
 'peanut': 1356,
 'butter': 5572,
 '&': 9664,
 'jelly': 298,
 'sandwiches': 473,
 '(made': 53,
 'wheat': 1778,
 'bread.)': 3,
 'wish': 831,
 'canning': 142,
 'store': 1248,
 'shelf': 48,
 'it!': 4313,
 'started': 876,
 'yesterday': 436,
 'keep': 2162,
 'up.': 1429,
 'back': 3474,
 'coffee': 976,
 'figured': 251,
 'might': 2834,
 'along': 1572,
 'benefits.': 12,
 'OK,': 118,
 'NEVER': 136,
 'buy': 1174,
 'jarred': 130,
 'terrific!': 129,
 'early': 259,
 'day,': 352,
 'later!': 31,
 'pizza,': 66,
 'freezer.': 284,
 'cant': 183,
 'wait.': 63,
 'hint': 419,
 'spice': 1363,
 'red': 4424,
 'omitted': 1607,
 'flakes': 754,
 'small': 3035,
 'delicious.': 3734,
 'again,': 2053,
 'tenderness': 27,
 'rub': 356,
 'right.': 542,
 'cold,': 101,
 'yogurt': 961,
 'whipped': 834,
 'in,': 275,
 'or': 12020,
 'top.': 1375,
 'cumin,': 184,
 'curry,': 57,
 'cinnamon': 2082,
 'try': 8937,
 'Chinese': 203,
 '5.': 153,
 "can't": 3022,
 'resist': 98,
 'splash': 304,
 'too!': 1288,
 '"bake"': 5,
 'squash': 549,
 'microwave': 830,
 '8': 1712,
 'minute': 545,
 'blasts': 1,
 'peel': 343,
 'when': 9491,
 'cool,': 89,
 'freeze': 792,
 'flesh.': 7,
 'Carrots': 32,
 'eaten': 749,
 'right': 3563,
 'highly': 529,
 'recommend': 1542,
 'these': 14418,
 'delicious,': 1064,
 'yet': 1087,
 'treats!': 27,
 'plastic': 293,
 'popsicle': 9,
 'molds': 10,
 'store.': 239,
 'halved': 1284,
 '16': 340,
 'popsicles.': 5,
 'They': 5927,
 'adults': 195,
 'gone': 759,
 'crazy': 379,
 'eating': 2032,
 'And': 2587,
 'since': 4612,
 "they're": 440,
 'them!': 817,
 'Barb': 33,
 'become': 734,
 'favorite!': 215,
 'good,': 3031,
 'modifications': 131,
 '(and': 1001,
 'laziness).': 1,
 'semi': 81,
 'breasts,': 185,
 'browned': 670,
 'them,': 1125,
 'stock': 853,
 'rest': 1884,
 'through': 1258,
 'simmer.': 28,
 'omit': 595,
 'avoid': 195,
 'sugary-ness': 1,
 'commented': 144,
 'PERFECT.': 35,
 'As': 1547,
 'couscous': 179,
 'anything,': 94,
 'cold': 1240,
 'broth': 1953,
 'soak': 317,
 'wait': 2103,
 'breasts': 981,
 'cook.': 325,
 'margarine': 312,
 'garlic-buttery': 1,
 'certainly': 920,
 'disappoint).': 1,
 '#289161.': 1,
 'Miraklegirl!': 4,
 'fantastic!': 779,
 'soft': 1275,
 'chewy': 397,
 'loveddd': 1,
 'friends.': 197,
 'chopped': 3127,
 'mars': 2,
 'bar': 219,
 'chocolate': 4609,
 'chips': 1692,
 'worked': 3075,
 'charm': 25,
 'definitely': 6267,
 'THANKS': 93,
 'Christmas': 1344,
 'party!': 71,
 'Thank': 9735,
 'treat!': 343,
 'dressing': 2160,
 'lot.': 369,
 'sesame': 650,
 'seeds': 805,
 'lamb': 384,
 'marinaded': 64,
 'spices.': 376,
 'posting': 4351,
 'simply': 738,
 'WONDERFUL!': 102,
 'any': 6231,
 'salt,': 1020,
 'substitution': 119,
 "necessity..didn't": 1,
 'hash': 168,
 'browns,': 19,
 'potatoes.': 996,
 'About': 72,
 'half': 7891,
 'peeked': 5,
 'browning': 302,
 'bottom': 1067,
 'potatoes': 3793,
 "weren't": 511,
 'cooking.': 721,
 'needed': 2633,
 'water.': 897,
 'DUH!': 1,
 'remember': 574,
 'how': 5263,
 'added,': 81,
 "I'll": 5414,
 'redo': 7,
 'browns': 104,
 'die': 409,
 'for....': 2,
 'truly!': 1,
 'good..': 25,
 'it..': 61,
 'give': 3294,
 '3.5': 93,
 'stars.': 688,
 'okay': 242,
 'again.<br/><br/>I': 2,
 'drumsticks': 59,
 'wings': 425,
 'grocery': 438,
 'low': 2407,
 'sodium': 453,
 'soy': 1154,
 'sauce.': 3014,
 'forget': 241,
 'marinade': 1074,
 'chicken.': 1191,
 'know': 3493,
 'affected': 64,
 'thicker.': 86,
 'barbecue': 199,
 'move': 69,
 'fluid.': 6,
 'thicken': 702,
 'starch': 190,
 'flour.': 770,
 'stated': 531,
 ':-)': 651,
 'breakfast!': 170,
 'mom': 793,
 'Northern': 39,
 'Ireland': 14,
 'introduced': 38,
 'Marmite': 9,
 'age': 38,
 'rye': 150,
 'marmite': 8,
 'dip': 1014,
 'eggs.': 408,
 'you!': 1483,
 "Paula's": 14,
 'Peach': 20,
 'Dump': 9,
 'Cake': 198,
 '#125391': 1,
 '(only': 110,
 '4)': 28,
 'forward': 785,
 'her': 1377,
 'call': 572,
 'future.': 285,
 'hand': 1526,
 'dessert': 1009,
 "'fix'": 2,
 'table': 454,
 'short': 442,
 'notice.': 16,
 'Wow!': 684,
 'What': 2588,
 'amazing': 894,
 'stuff!': 202,
 'Hokey': 4,
 'Pokey': 5,
 'ice-cream,': 6,
 'this.\nI': 3,
 'shocked': 59,
 'complete': 234,
 'colour': 105,
 'after': 5685,
 'stirring': 211,
 'baking': 3090,
 'soda': 304,
 'through.': 295,
 'quick.\nI': 1,
 'burned': 183,
 'ours': 252,
 'difficult': 371,
 'spread': 1079,
 'flat': 296,
 'pan,': 648,
 'first': 6060,
 'go.\nNext': 1,
 "what's": 98,
 'come!': 37,
 'manual': 7,
 'method': 625,
 'directions': 1514,
 'follow': 830,
 'produced': 149,
 'results.': 577,
 'light': 2557,
 "za'atar": 11,
 'topping.': 466,
 'keeper!': 1322,
 'Best': 634,
 '2011': 181,
 'event,': 33,
 'recommended': 325,
 'awalde': 7,
 'sorry.': 81,
 "wasn't": 2828,
 'stretch.': 6,
 'There': 1134,
 'something': 3789,
 'missing': 501,
 'turn': 1174,
 'amazing.': 614,
 'turmeric': 68,
 'strange': 126,
 'color': 571,
 'unappealing.': 7,
 'smelled': 705,
 'carne': 7,
 'asada': 5,
 'maybe': 2146,
 'expecting.': 53,
 'cooked': 6317,
 'delightful': 259,
 'while': 3129,
 'grilling': 225,
 'meet': 53,
 'expectations': 42,
 'served.': 66,
 'watching': 228,
 'think': 10740,
 'tweak': 194,
 'sure': 5334,
 'is.': 636,
 'Did': 453,
 'Bergy!!': 10,
 'microwaved': 176,
 'spuds,': 5,
 'onions,': 735,
 'later': 496,
 'night.': 694,
 'onion': 3951,
 'each': 2204,
 'their': 1558,
 'flavours': 430,
 'come': 1545,
 'distinctly.\r\nGood': 1,
 'veggie': 655,
 'dish.': 2670,
 'Lovely!': 31,
 'beautiful': 760,
 'Thanksgiving': 638,
 'morning.': 386,
 'With': 666,
 'link': 42,
 'sliced': 2056,
 'fruit': 1048,
 'enjoy': 1321,
 'visiting': 112,
 'grands': 5,
 'breakfast.': 477,
 'Kittencal.': 81,
 'teach': 25,
 'high': 1257,
 'school': 333,
 'foods': 180,
 'class': 97,
 'studying': 8,
 'legumes.': 2,
 'topping': 1361,
 'sour': 2563,
 'cream,': 790,
 'cheese,': 1367,
 'Tobasco': 19,
 'tortilla': 507,
 'chips.': 630,
 'While': 418,
 'making,': 33,
 'students': 37,
 'look': 1527,
 'Not': 1846,
 'single': 364,
 'student': 38,
 '25': 458,
 'disliked': 19,
 'students.': 8,
 'starting': 247,
 'hour': 1180,
 'period': 41,
 'reheating': 45,
 'day.': 1214,
 'Many': 181,
 'requested': 363,
 'second': 1653,
 'copy': 147,
 'take': 2301,
 'home!': 96,
 'Great': 5595,
 'job!': 33,
 'definately': 1072,
 'lemon': 3806,
 'zest': 575,
 'devine': 17,
 'reheat': 135,
 'oven': 3332,
 ...}

4. Напишите несколько версий функции `MAPE` (см. [MAPE](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error)) ля расчета среднего абсолютного процентного отклонения значения рейтинга отзыва на рецепт от среднего значения рейтинга по всем отзывам для этого рецепта.
    1. Без использования массивов `numpy` и `numba`
    2. Без использования массивов `numpy`, но с использованием `numba`
    3. С использованием массивов `numpy`, но без использования `numba`
    4. C использованием массивов `numpy` и `numba`
    
Измерьте время выполнения каждой из реализаций.

Замечание: удалите из выборки отзывы с нулевым рейтингом.

среднего абсолютного процентного отклонения значения рейтинга отзыва на рецепт

среднего значения рейтинга по всем отзывам для этого рецепта

In [68]:
mn = reviews[reviews['rating'] != 0].groupby('recipe_id')['rating'].mean()
mn

recipe_id
48        2.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536360    5.000000
536473    5.000000
536547    5.000000
536728    4.000000
536729    4.750000
Name: rating, Length: 27440, dtype: float64

In [71]:
reviews4 = reviews[reviews['rating'] != 0].merge(mn, on="recipe_id", how='inner')
reviews4

,user_id,recipe_id,date,rating_x,review,rating_y
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...,4.818182
1,86359,57993,2003-08-10,5,My sisters husband caught a salmon off the Que...,4.818182
2,67026,57993,2005-06-11,5,I enjoyed this very much. Turned out pretty d...,4.818182
3,371697,57993,2006-10-27,5,Delicious! Perfect blend of flavors. I didn'...,4.818182
4,175286,57993,2004-12-29,5,Delicious! Made this last night with relative...,4.818182
...,...,...,...,...,...,...
119886,157617,94096,2004-08-14,5,wheeee!!! \r\nincredible!!!!\r\n;)\r\ntook a l...,5.000000
119887,1207345,368208,2009-07-13,2,"I found this to be a good dish,but not great.I...",2.000000
119888,357323,154964,2008-10-31,5,I was searching to see if this recipe had been...,5.000000
119889,160974,187418,2007-10-15,5,Update: I loved this so much that I had to eat...,5.000000
119890,95743,296868,2010-01-02,4,"Rich, intense and quite a different combinatio...",4.000000

In [80]:
((reviews4['rating_y'] - reviews4['rating_x']) / reviews4['rating_y']).abs().sum() * 100 / len(reviews4)

7.951710005387515

In [81]:
def mape(reviews):
    mn = reviews[
        reviews['rating'] != 0
    ].groupby('recipe_id')['rating'].mean()
    
    reviews4 = reviews[
        reviews['rating'] != 0
    ].merge(mn, on="recipe_id", how='inner')
    
    return ((reviews4['rating_y'] - reviews4['rating_x']) 
            / reviews4['rating_y']).abs().sum() * 100 / len(reviews4)

In [82]:
%lprun -f mape mape(reviews)

Timer unit: 1e-07 s

Total time: 0.0962054 s
File: <ipython-input-81-8a380d544c60>
Function: mape at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def mape(reviews):
     2         4     330927.0  82731.8     34.4      mn = reviews[
     3         1      11070.0  11070.0      1.2          reviews['rating'] != 0
     4         2         52.0     26.0      0.0      ].groupby('recipe_id')['rating'].mean()
     5         3     586100.0 195366.7     60.9      reviews4 = reviews[
     6         1       5243.0   5243.0      0.5          reviews['rating'] != 0
     7         1         25.0     25.0      0.0      ].merge(mn, on="recipe_id", how='inner')
     8         4      28377.0   7094.2      2.9      return ((reviews4['rating_y'] - reviews4['rating_x']) 
     9         3        260.0     86.7      0.0              / reviews4['rating_y']).abs().sum() * 100 / len(reviews4)

In [86]:
def mape(reviews):
    mn = reviews[
        reviews['rating'] != 0
    ].groupby('recipe_id')['rating'].mean()
    
    reviews4 = reviews[
        reviews['rating'] != 0
    ].merge(mn, on="recipe_id", how='inner')
    
    return ((reviews4['rating_y'] - reviews4['rating_x']) 
            / reviews4['rating_y']).abs().sum() * 100 / len(reviews4)