# Работа с базами данных

Материалы:
* Макрушин С.В. Лекция 6: Работа с базами данных
* https://sqliteonline.com/
* https://docs.python.org/3/library/sqlite3.html
* https://www.geeksforgeeks.org/sql-join-set-1-inner-left-right-and-full-joins/
* https://www.datacamp.com/community/tutorials/group-by-having-clause-sql

## Задачи для совместного разбора

In [1]:
import sqlite3

conn = sqlite3.connect("Chinook_Sqlite.sqlite")
cur = conn.cursor()

In [3]:
cur.close()
conn.close()

1. Работая с базой данных `Chinook_Sqlite.sqlite`, найдите и выведите на экран имена и фамилии всех заказчиков из Канады

In [2]:
cur.execute('''SELECT FirstName, LastName from Customer''')
cur.fetchall()

[('Luís', 'Gonçalves'),
 ('Leonie', 'Köhler'),
 ('François', 'Tremblay'),
 ('Bjørn', 'Hansen'),
 ('František', 'Wichterlová'),
 ('Helena', 'Holý'),
 ('Astrid', 'Gruber'),
 ('Daan', 'Peeters'),
 ('Kara', 'Nielsen'),
 ('Eduardo', 'Martins'),
 ('Alexandre', 'Rocha'),
 ('Roberto', 'Almeida'),
 ('Fernanda', 'Ramos'),
 ('Mark', 'Philips'),
 ('Jennifer', 'Peterson'),
 ('Frank', 'Harris'),
 ('Jack', 'Smith'),
 ('Michelle', 'Brooks'),
 ('Tim', 'Goyer'),
 ('Dan', 'Miller'),
 ('Kathy', 'Chase'),
 ('Heather', 'Leacock'),
 ('John', 'Gordon'),
 ('Frank', 'Ralston'),
 ('Victor', 'Stevens'),
 ('Richard', 'Cunningham'),
 ('Patrick', 'Gray'),
 ('Julia', 'Barnett'),
 ('Robert', 'Brown'),
 ('Edward', 'Francis'),
 ('Martha', 'Silk'),
 ('Aaron', 'Mitchell'),
 ('Ellie', 'Sullivan'),
 ('João', 'Fernandes'),
 ('Madalena', 'Sampaio'),
 ('Hannah', 'Schneider'),
 ('Fynn', 'Zimmermann'),
 ('Niklas', 'Schröder'),
 ('Camille', 'Bernard'),
 ('Dominique', 'Lefebvre'),
 ('Marc', 'Dubois'),
 ('Wyatt', 'Girard'),
 ('Isabelle', 'Mercier'),
 ('Terhi', 'Hämäläinen'),
 ('Ladislav', 'Kovács'),
 ('Hugh', "O'Reilly"),
 ('Lucas', 'Mancini'),
 ('Johannes', 'Van der Berg'),
 ('Stanisław', 'Wójcik'),
 ('Enrique', 'Muñoz'),
 ('Joakim', 'Johansson'),
 ('Emma', 'Jones'),
 ('Phil', 'Hughes'),
 ('Steve', 'Murray'),
 ('Mark', 'Taylor'),
 ('Diego', 'Gutiérrez'),
 ('Luis', 'Rojas'),
 ('Manoj', 'Pareek'),
 ('Puja', 'Srivastava')]

2. Найти и вывести на экран названия всех альбомов группы Accept

3. Создайте базу данных с названием вашей группы. В этой базе данных создайте таблицу Student, содержащую 2 столбца: id и name. Добавьте в таблицу Student информацию о студентах, сидящих с вами по соседству.

## Лабораторная работа 6

1. Создайте файл базы данных c названием `recipes.db`. Создайте объект-курсор.

In [2]:
import sqlite3

conn = sqlite3.connect("recipes.sqlite")
cur = conn.cursor()

2. Напишите и выполните SQL-запрос для создания таблицы рецептов `Recipe`. Таблица должна содержать следующие поля:
`id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`. Определитесь с типами и составом ключевых полей.

In [5]:
conn.execute("""create table recipe
(
	id int,
	name text,
	minutes int,
	submitted date,
	description text,
	n_ingredients int
);
""")

3. Напишите и выполните SQL-запрос для создания таблицы отзывов `Review`. Таблица должна содержать следующие поля:
`id`, `user_id`, `recipe_id`, `date`, `rating`, `review`. Определитесь с типами полей, набором ключевых полей. При помощи внешнего ключа соедините две таблицы.

4. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample_with_tags_ingredients.csv` (__ЛР5__) в созданные таблицы

In [18]:
conn.execute("""drop table if exists recipe""")
conn.execute("""drop table if exists rewiew;""")

In [3]:
import pandas as pd
reviews = pd.read_csv("reviews_sample.csv", index_col=0)

In [20]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [4]:
reviews.to_sql("rewiew", conn)

ValueError: Table 'rewiew' already exists.

In [5]:
recipes = pd.read_csv("recipes_sample_with_tags_ingredients.csv", index_col=0)

In [23]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,tags,n_tags,ingredients,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,11.0,an original recipe created by chef scott meska...,weeknight;time-to-make;course;main-ingredient;...,25,unsalted butter*carrot*onion*celery*broccoli s...,18
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,3.0,my children and their friends ask for my homem...,15-minutes-or-less;time-to-make;course;prepara...,31,milk*frozen juice concentrate*plain yogurt,3
2,i can t believe it s spinach,38798,30,1533,2002-08-29,5.0,"these were so go, it surprised even me.",30-minutes-or-less;time-to-make;course;main-in...,17,onion*frozen chopped spinach*eggs*garlic powde...,8
3,italian gut busters,35173,45,22724,2002-07-27,7.0,my sister-in-law made these for us at a family...,60-minutes-or-less;time-to-make;course;prepara...,11,sandwich bun*good seasonings italian salad dre...,9
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,30-minutes-or-less;time-to-make;course;main-in...,19,beef steaks*vegetable oil*spicy mustard*fresh ...,12
...,...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,time-to-make;course;main-ingredient;cuisine;pr...,18,dry white wine*eggs*cheddar cheese*baking powd...,10
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,22.0,"this is a traditional fresh plum cake, thought...",time-to-make;course;main-ingredient;cuisine;pr...,19,unsalted butter*milk*flour*salt*vanilla*all-pu...,11
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,10.0,this is a traditional late summer early fall s...,time-to-make;course;main-ingredient;cuisine;pr...,20,onion*milk*eggs*butter*flour*salt*pepper*sugar...,13
29998,zydeco soup,486161,60,227978,2012-08-29,7.0,this is a delicious soup that i originally fou...,ham;60-minutes-or-less;time-to-make;course;mai...,20,onion*celery*dried thyme*dried oregano*fresh p...,22
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",30-minutes-or-less;time-to-make;course;prepara...,12,butter*sour cream*egg*bisquick*light brown sug...,10

In [6]:
recipes.to_sql("recipe", conn)

ValueError: Table 'recipe' already exists.

5. Найдите все рецепты, для выполнения которых нужно ровно 10 ингредиентов. Выведите на экран первые 5 из найденных рецептов.

In [29]:
cur = conn.execute("""select * from recipe where n_ingredients = 10 limit 5""")
cur.fetchall()
cur.close()

[(13,
  'blepandekager   danish   apple pancakes',
  503475,
  50,
  128473,
  '2013-07-08',
  10.0,
  "this recipe has been posted here for play in zwt9 - scandinavia.  this recipe was found at website: mindspring.com - christian's danish recipes.",
  'danish;60-minutes-or-less;time-to-make;course;cuisine;preparation;pancakes-and-waffles;breakfast;scandinavian;european',
  10,
  'milk*eggs*butter*flour*salt*cream*sugar*apples*cinnamon*lemon, juice of',
  10),
 (21,
  'kelly s creamy cheddar pea salad',
  125195,
  20,
  113941,
  '2005-06-09',
  5.0,
  "i'm not a big fan of peas, but like them in things. this salad is one of my favorites. happy to share!",
  '30-minutes-or-less;time-to-make;course;cuisine;preparation;north-american;salads;side-dishes;american;easy;midwestern;3-steps-or-less',
  12,
  'onion*celery*cheddar cheese*mayonnaise*sugar*frozen peas*hard-boiled eggs*sweet pickle relish*seasoning salt*mustard',
  10),
 (24,
  'middle eastern   twice baked potatoes',
  120297,
  110,
  197023,
  '2005-05-02',
  14.0,
  'a delicious yet low-fat twice-baked potato side dish with a blend of classic middle eastern flavours: chickpeas, cumin and coriander.  serve with roasts or with your favourite middle eastern main course dish.  adapted from "practical cookery: low fat".  these potatoes could also be served on their own as a light vegetarian meal. in view of the comments by reviewers about the potatoes being a bit dry, i have added a tablespoon of tahini. i have also added some garlic. i\'m not sure how the recipe escaped having garlic in it when i first posted it!',
  'time-to-make;course;main-ingredient;cuisine;preparation;occasion;healthy;side-dishes;potatoes;vegetables;asian;middle-eastern;dinner-party;low-fat;vegetarian;lebanese;dietary;low-sodium;low-cholesterol;low-saturated-fat;low-calorie;healthy-2;low-in-something;4-hours-or-less',
  24,
  'coriander*garlic cloves*olive oil*baking potatoes*chickpeas*ground cumin*fresh coriander*low-fat yogurt*tahini*salt & freshly ground black pepper',
  10),
 (29,
  'secret ingredient  bbq meatloaf',
  342620,
  75,
  50969,
  '2008-12-09',
  9.0,
  'i know what you might be thinking,\'ho hum, another meatloaf recipe " .well your right, but i think the secret ingredient sets this recipe apart from any other meatloaf in the "zaar"data base.please feel free to adjust any of the seasonings or veggies to suit your own personal tastes. submitted to "zaar" on december 9th,2008.',
  'time-to-make;course;main-ingredient;cuisine;preparation;occasion;north-american;main-dish;beef;american;southern-united-states;oven;easy;beginner-cook;comfort-food;ground-beef;meat;taste-mood;equipment;4-hours-or-less',
  20,
  'garlic powder*ground black pepper*french-fried onions*egg*seasoning salt*red bell pepper*ground beef*barbecue sauce*sweet onion*cooking spray',
  10),
 (43,
  'don t knock it until you try it  beet cake',
  63346,
  65,
  27643,
  '2003-05-28',
  7.0,
  "yes, this cake is made with beets! and you won't believe how great it is. i got the recipe from a friend who said it is the most requested cake in her family. even the kids want it for their birthday cake. i baked it for one of our family gatherings and now, i get lots of requests for it too. the batter looks red, but the red bakes out. i use an almond flavored frosting on it sometimes. other times i just serve it with homemade whipped cream.",
  'weeknight;time-to-make;course;main-ingredient;preparation;occasion;desserts;vegetables;oven;potluck;dinner-party;kid-friendly;cakes;dietary;to-go;equipment;small-appliance;mixer;presentation;served-cold;4-hours-or-less',
  21,
  'eggs*vegetable oil*flour*baking powder*vanilla*baking soda*sugar*cinnamon*beets*walnuts',
  10)]

6. Найдите название рецепта, для выполнения которого требуется больше всего времени.

In [32]:
cur = conn.execute("""select name from recipe order by minutes desc limit 1""")
cur.fetchall()

[('blueberry liqueur',)]

7. Запросите у пользователя id рецепта и верните информацию об этом рецепте. Если рецепт отсуствует, выведите соответствующее сообщение.

In [46]:
inp_id = int(input("need id"))
cur = conn.cursor()
# cur.execute("""select name from recipe where id = ? """, (inp_id))
cur.execute(f"""select name from recipe where id = {inp_id} """)
res = cur.fetchall()
res or "recipe not foun"

[('george s at the cove  black bean soup',)]

8. Найдите кол-во отзывов с рейтингом 5.

In [51]:
cur = conn.execute("""select count(*) from rewiew where rating = 5""")
cur.fetchall()

[(91361,)]

9. Найдите кол-во уникальных рецептов, не имеющих отзывов с рейтингом, меньше 4.

In [7]:
cur = conn.execute("""select count(*)
from (select min(rating) as r, recipe_id
      from rewiew
      group by recipe_id
      having r >= 4)""")
cur.fetchall()

[(20466,)]

10. Найдите кол-во рецептов, опубликованных в 2010 году и имеющих длину не менее 15 минут.

In [52]:
cur = conn.execute("""
select count(*) from recipe where CAST(substr(submitted, 1, 4) AS INT) = 2010 and minutes >= 15
""")
cur.fetchall()

[(1319,)]

11. Выберите id рецепта, название рецепта, id пользователя, оставившего отзыв, дату отзыва и рейтинг для тех рецептов, которые имеют не менее 3 ингредиентов. Отсортируйте результат по id рецепта.

In [ ]:
cur = conn.execute("""
select * from rewiew join recipe r on r.id = rewiew.recipe_id where n_ingredients >2
order by id 
""")
cur.fetchall()